:root {
    --title: max(36px, 15vh);
}

body {
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-family: 'Satoshi';
    font-size: var(--title);
    font-weight: 800;
    color: var(--red);
    margin: 0px;
}

input {
    border: 2px var(--grayer) solid;
    color: var(--lightgray);
    outline: none;
}

button {
    border-radius: 0px;
}

.side_bar {
    background-image: url(./Assets/Logo/stripes.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.form_container {
    position: absolute;
    width: 90%;
}

.form_container form {
    row-gap: clamp(3px, 3vmin, 12px); 
    margin-bottom: clamp(3px, 3vmin, 12px); 
}

.form_input {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    column-gap: clamp(3px, 3vmin, 12px);
    margin: clamp(3px, 3vmin, 16px) 0px;;
}

.form_input input {
    width: 100%;
    font: 'Satoshi';
    font-size: var(--text);
    border-radius: 0px;
    padding: clamp(3px, 3vmin, 12px);
    transition: border 0.15s;
    background-color: black;
}

.form_input input:focus {
    background-color: var(--grayest);
    border: 2px var(--orange) solid;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: var(--lightgray);
}

.main_container {
    margin-top: 15vh;
    height: 100vh;
    padding: clamp(3px, 7vmin, 48px);
}

.animated_button {
    width: 100%;
    margin: 0px;
    font-weight: bold;
}

.unselected_button:hover {
    background-color: var(--grayest);
    color: var(--white);
}

.visibile {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#outer_form_container {
    padding: clamp(3px, 3vmin, 12px); 
    border: 3px solid var(--orange); 
    position: relative; 
    height: max(30em, 50vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.main_logo img {
    width: clamp(250px, 50vmin, 750px);
}


