body {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: 0px;
    padding: 0px;
}

form {
    position: fixed
}

.main_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_input {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    column-gap: clamp(3px, 3vw, 12px);
}

.form_input input {
    width: 100%;
    font: 'Satoshi';
    font-size: var(--text);
    border-radius: 6px;
    padding: clamp(3px, 3vh, 12px) clamp(3px, 3vw, 12px);
}

.animated_button {
    width: 100%;
    margin: 0px;
}

