:root {
    --title: max(36px, 15vh);
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Satoshi';
    font-size: var(--title);
    font-weight: 800;
    color: var(--red);
    margin: 0px;
}

input {
    border: 0px;
    padding: 0px;
}

button {
    border-radius: 6px;
}

.form_container {
    position: absolute;
    width: 90%;
}

.form_container form {
    row-gap: clamp(3px, 3vmin, 12px); 
    margin-bottom: clamp(3px, 3vmin, 12px); 
}

.form_input {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    column-gap: clamp(3px, 3vmin, 12px);
    margin: clamp(3px, 3vmin, 16px) 0px;;
}

.form_input input {
    width: 100%;
    font: 'Satoshi';
    font-size: var(--text);
    border-radius: 6px;
    padding: clamp(3px, 3vmin, 12px) clamp(3px, 3vmin, 12px);
}

.main_container {
    width: 50%;
    padding: clamp(3px, 7vmin, 48px);
}

.animated_button {
    width: 100%;
    margin: 0px;
    font-weight: bold;
}

.unselected_button:hover {
    background-color: var(--grayest);
    color: var(--white);
}

.top_button {
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.visibile {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#outer_form_container {
    padding: clamp(3px, 3vmin, 12px); 
    border: 3px solid var(--orange); 
    position: relative; 
    height: max(30em, 50vmin);
    border-bottom-left-radius: 12px; 
    border-bottom-right-radius: 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_selected {
    border-top-right-radius: 12px; 
}

.login_selected {
    border-top-left-radius: 12px; 
}

.main_logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.main_logo img {
    width: clamp(250px, 50vmin, 750px);
}


