@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url("https://use.typekit.net/qfq4azv.css");
@import url('./font.css');

:root {
    --white: #fff;
    --red: #ff0f0f;
    --orange: #ff9c07;
    --grayest: #222222;
    --grayer: #666666;
    --gray: #cdcdcd;
    --green: #57b000;
    --lightgray: #ededed;
    --title: clamp(24px, 15vmin, 44px);
    --topic: clamp(20px, 10vmin, 36px);
    --subtopic: clamp(20px, 8vmin, 30px);
    --text: clamp(16px, 4vmin, 20px);
}

body {
    background-color: var(--grayest);
    font-family: 'Satoshi';
}

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Satoshi';
    font-size: var(--title);
    font-weight: 900;
    color: var(--orange);
    margin-bottom: 0.2em;
}

h2 {
    font-family: 'Satoshi';
    font-size: var(--topic);
    font-weight: 700;
    color: var(--orange);
    margin: 0px;
}

p,b {
    font-family: 'Satoshi';
    font-size: var(--text);
    color: var(--lightgray);
    margin-bottom: 1em;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
a, span {
    font-family: 'Satoshi';
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
    cursor: pointer;
}

a {
    color: var(--lightgray);
    text-decoration: none;
}

a:hover {
    --d: 100%;
}

span:hover {
    --d: 100%;
}

button {
    color: #ededed;
    font-size: var(--text);
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: fit-content;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border: 3px solid var(--orange);
}

th {
    background-color: var(--orange);
    color: var(--grayest);
    padding: 0.5em;
}

td {
    background-color: var(--grayest);
    color: var(--lightgray);
    padding: 0.5em 1em;
}

tr th {
    border-right: 3px solid var(--grayest);
}

tr th:last-child {
    border-right: none;
}

tr td {
    border: 3px solid var(--orange);
    border-top: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: clamp(3px, 3vmin, 12px); 
}

.error {
    color: var(--grayest);
    font-size: var(--text);
    font-weight: 700;
    text-align: center;
}

/* Code for unselectable elements sourced from: https://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.form_input {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    column-gap: clamp(3px, 3vmin, 12px);
}

input, textarea {
    font-family: 'Satoshi';
    width: 100%;
    font-size: var(--text);
    padding: clamp(3px, 3vmin, 12px);
    transition: border 0.15s;
    background-color: black;
    border: 2px var(--grayer) solid;
    color: var(--lightgray);
    outline: none;
}

input:focus, textarea:focus {
    border: 2px var(--orange) solid;
}

textarea {
    resize: none;
    overflow: hidden;
    padding-bottom: 0px;
}

.badges_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    overflow-x: hidden;
    padding: 0.5em
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
}

.badge img {
    height: 5em; 
    margin-bottom: 2vh;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: var(--lightgray);
}

.nav_bar {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_bar button {
    font-weight: 700;
    min-width: 8em;
    height: 100%;
}

.section {
    padding-bottom: 1em;
    width: 100%;
}

.main_content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.animated_button {
    padding: clamp(3px, 10%, 12px);
    transition: all 0.2s ease;
}

.animated_button:hover:enabled {
    color: var(--orange);
    --d: 100%;
}

.action_button {
    color: var(--orange);
    border: 3px solid var(--orange);
    width: 100%;
    font-weight: 700;
    padding: 0.75em 0em;
    transition: all 0.2s ease;
}

.action_button:hover:enabled {
    background-color: var(--orange);
    color: var(--grayest);
}

.action_button:disabled {
    color: var(--gray);
    border: 3px solid var(--gray);
}

#logout_button:hover {
    background-color: var(--red);
    color: var(--grayest);
}

.selected_button {
    background-color: var(--orange);
    color: var(--grayest);
}

.selected_button:hover {
    background-color: var(--orange);
    color: var(--grayest);
    --d: 100%;
}

.logo_container img {
    width: clamp(100px, 20vmin, 250px);
    margin: 0px;
}

.side_button {
    padding-left: 3vw;
    height: max(60px, 4em);
    transition: padding 0.4s ease;
    text-align: left;
    font-weight: 400;
}

.side_button:hover {
    color: var(--orange);
    padding-left: 4vw;
    --d: 100%;
}

.selected_side_button {
    background-color: var(--orange);
    color: var(--grayest);
    padding-left: 4vw;
    font-weight: 700;
}

.selected_side_button:hover {
    color: var(--grayest);
    --d: 100%;
}

.mcq_button {
    padding: 1vh 1vw;
}

.selected_mcq_button {
    background-color: var(--orange);
    color: var(--grayest);
}

#current_page_button {
    padding-left: 4vw;
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(10px, 2vw, 50px);
    color: var(--lightgray);
    font: 400 var(--text);
    outline: none;
    border: none;
    padding: 0px 0px 6px 12px;
    border-bottom: 2px solid var(--grayer);
    background-color: transparent;
    transition: border-bottom 0.2s ease;
}

#search_bar:focus {
    border-bottom: 2px solid var(--lightgray);
}

.outer_grid {
    font-size: var(--text);
    display: grid;
    grid-template-rows: 7vh 93vh
}

.inner_grid {
    font-size: var(--text);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#user {
    border-right: 2px solid var(--grayer);
    padding-top: clamp(6px, 4vh, 18px);
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: "left";
    column-gap: clamp(3px, 3vmin, 12px);
    padding-left: 1em;
}

#profile img {
    border-radius: 50%;
    display: inline-block;
    width: clamp(60px, 7vh, 90px);
    height: clamp(60px, 7vh, 90px);
    object-fit: cover;
}

#sidebar_buttons {
    display: flex;
    flex-direction: column;
    margin-top: clamp(3px, 5vh, 12px);
}


#main {
    padding: clamp(6px, 4vh, 18px) clamp(12px, 6vw, 48px);
    overflow-y: auto;
}
