@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url("https://use.typekit.net/qfq4azv.css");
@import url('./font.css');

:root {
    --white: #fff;
    --red: #ff0f0f;
    --orange: #ff9c07;
    --grayest: #222222;
    --grayer: #666666;
    --gray: #cdcdcd;
    --green: #57b000;
    --lightgray: #ededed;
    --title: clamp(24px, 15vmin, 44px);
    --topic: clamp(20px, 10vmin, 36px);
    --subtopic: clamp(20px, 8vmin, 30px);
    --text: clamp(16px, 4vmin, 20px);
}

body {
    background-color: var(--grayest);
}

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    margin: 0px;
    background-color: var(--grayest);
    color: var(--white);
    font-family: 'Satoshi';
    font-size: var(--text);
    color: var(--lightgray);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}

h1 {
    font-family: 'Satoshi';
    font-size: var(--title);
    font-weight: 900;
    color: var(--orange);
    margin: 0px;
}

h2 {
    font-family: 'Satoshi';
    font-size: var(--topic);
    color: var(--orange);
    margin: 0px;
}

p {
    font-family: 'Satoshi';
    font-size: var(--text);
    color: var(--white);
    margin: 0px;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
a {
    color: var(--lightgray);
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
    text-decoration: none;
}

a:hover {
    --d: 100%;
}

button {
    font-family: 'Satoshi';
    color: #ededed;
    font-size: var(--text);
    background-color: var(--grayest);
    border: none;
    border-radius: 0;
    height: 100%;
    min-height: fit-content;
}

table {
    margin: 1vh 0px;
    width: 100%;
    display: table;
    border-collapse: collapse;
    border: 3px solid var(--orange);
}

th {
    background-color: var(--orange);
    color: var(--grayest);
    margin: 0px;
    padding: 0.5em;
}

td {
    background-color: var(--grayest);
    color: var(--lightgray);
    padding: 0.5em 1em;
}

tr th {
    border-right: 3px solid var(--grayest);
}

tr th:last-child {
    border-right: none;
}

tr td {
    border: 3px solid var(--orange);
    border-top: none;
}

.form_container {
    width: 100%;
}

form {
    row-gap: clamp(3px, 3vmin, 12px); 
    margin-bottom: clamp(3px, 3vmin, 12px); 
}

.form_input {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    column-gap: clamp(3px, 3vmin, 12px);
    margin: 1vh 0px;
}

.form_input input, .form_input textarea {
    width: 100%;
    font-family: 'Satoshi';
    font-size: var(--text);
    border-radius: 0px;
    padding: clamp(3px, 3vmin, 12px);
    transition: border 0.15s;
    background-color: black;
    border: 2px var(--grayer) solid;
    color: var(--lightgray);
    outline: none;
    margin: "clamp(3px, 1vmin, 12px) 0px"
}



.form_input input:focus {
    background-color: black;
    border: 2px var(--orange) solid;
}

.form_input textarea {
    resize: none;
    overflow: hidden;
    padding-bottom: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: var(--lightgray);
}

.nav_bar {
    background-color: black;
    min-height: 60px;
    max-height: 75px;
    position: sticky;
    top: 0;
}

.nav_bar button {
    font-weight: 700;
    min-width: 8em;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.nav_bar button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
}

.vertical_center {
    height: 100%;
    display: flex;
    align-items: center;
}

.horizontal_center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section {
    padding-bottom: max(2vh, 6px);
    width: 100%;
}

#user {
    position: sticky;
    top: 10%;
}

#main {
    padding: 2vh 3vw 1vh 3vw;
    overflow-y: auto;
}

.animated_button {
    padding: clamp(3px, 10%, 12px);
    background-color: transparent;
    width: clamp(150px, 10%, 300px);
    height: 100%;
    font-weight: 400;
    transition: all 0.4s ease;
    transition: background-color 0.2s ease;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.animated_button:enabled span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition: 0.2s;
}

.animated_button:hover:enabled {
    background-color: transparent;
    color: var(--orange);
    --d: 100%;
}

.action_button {
    background-color: var(--grayest);
    color: var(--orange);
    border: 3px solid var(--orange);
    width: 100%;
    margin-top: 2vh;
    font-weight: bold;
    padding: 0.75em 0em;
    transition: all 0.2s ease;
}

.action_button:hover:enabled {
    background-color: var(--orange);
    color: var(--grayest);
}

.action_button:disabled {
    background-color: var(--grayest);
    color: var(--gray);
    border: 3px solid var(--gray);
}

#logout_button:hover {
    background-color: var(--red);
    color: var(--grayest);
}

.selected_button {
    background-color: var(--orange);
    color: var(--grayest);
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.selected_button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
}

.selected_button:hover {
    background-color: var(--orange);
    color: var(--grayest);
    --d: 100%;
}

.logo_container img {
    width: clamp(100px, 20vmin, 250px);
    margin: 0px;
}

#sidebar_buttons {
    display: flex;
    flex-direction: column;
    margin-top: clamp(3px, 5vh, 12px);
}

.side_button {
    padding-left: 3vw;
    height: max(60px, 4em);
    transition: padding 0.4s ease;
    text-align: left;
    border-radius: 0px;
    font-weight: 400;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.side_button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
}

.side_button:hover {
    color: var(--orange);
    padding-left: 4vw;
    --d: 100%;
}

.selected_side_button {
    background-color: var(--orange);
    color: var(--grayest);
    padding-left: 4vw;
    font-weight: 600;
}

.selected_side_button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
}

.selected_side_button:hover {
    color: var(--grayest);
    --d: 100%;
}

table a {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 2px 
    no-repeat;
    transition:0.4s;
}

table a:hover {
    --d: 100%;
    cursor: pointer;
}

#current_page_button {
    padding-left: 4vw;
}

#profile img {
    border-radius: 50%;
    display: inline-block;
    width: clamp(60px, 7vh, 90px);
    height: clamp(60px, 7vh, 90px);
    object-fit: cover;
}

#search_bar {
    display: flex;
    min-width: 10em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: clamp(10px, 2vw, 50px);
    color: var(--lightgray);
    font: 400 var(--text);
    outline: none;
    border: none;
    padding: 0px 0px 6px 12px;
    border-bottom: 2px solid var(--grayer);
    background-color: transparent;
    transition: border-bottom 0.2s ease;
}

#search_bar:focus {
    border-bottom: 2px solid var(--lightgray);
}

/* Code for unselectable elements sourced from: https://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mcq_button {
    padding: 1vh 1vw;
}

.selected_mcq_button {
    background-color: var(--orange);
    color: var(--grayest);
}