.outside_root {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 100vh;
}

.outside_root .side_bar {
    position: relative;
    background-image: url(./Assets/Logo/stripes.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.outside_root .push_left {
    background-position: left;
}

.outside_root .push_right {
    background-position: right;
}

.outside_root .main_container {
    padding: clamp(6px, 8vmin, 60px);
}

@media only screen and (orientation: portrait) {
    .outside_root {
        grid-template-rows: 5vh 90vh 5vh;
        grid-template-columns: 100vw;
    }

    .outside_root .side_bar {
        position: relative;
        background-image: url(./Assets/Logo/horiz_stripes.svg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .outside_root .main_container {
        margin-top: 0vh;
        padding: 0px clamp(3px, 7vmin, 48px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .outside_root .push_left {
        background-position: top;
    }
    
    .outside_root .push_right {
        background-position: bottom;
    }
}

.outside_root h1 {
    color: var(--red);
    font-size: clamp(24px, 15vh, 144px);
}

.outside_root button {
    border-radius: 0px;
}
.outside_root .animated_button {
    width: 100%;
    margin: 0px;
    font-weight: bold;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.outside_root .animated_button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 3px 
    no-repeat;
    transition:0.4s;
}

.outside_root .animated_button:hover {
    background-color: var(--orange);
    color: var(--grayest);
}

.outside_root .unselected_button:hover {
    background-color: var(--grayest);
    color: var(--white);
}

.outside_root .visibile {
    opacity: 1;
    pointer-events: auto;
}

.outside_root .hidden {
    opacity: 0;
    pointer-events: none;
}

.outside_root #outer_form_container {
    padding: clamp(3px, 3vmin, 12px); 
    border: 3px solid var(--orange); 
    position: relative; 
    height: max(25em, 40vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outside_root .main_logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.outside_root .main_logo img {
    width: clamp(250px, 50vmin, 750px);
}

.smalllink {
    display: flex;
    justify-content: end;
    margin: clamp(2px, 1vh ,8px) 0px;
}

.smalllink a {
    color: var(--orange);
    text-decoration: none;
}

/* Underline code adapted from: https://dev.to/afif/100-underline-overlay-animation-the-ultimate-css-collection-4p40, width and transition speed changed */
.smalllink span {
    margin: 0px;
    font-family: 'Satoshi';
    font-weight: 300;
    font-size: 12pt;
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 0.5px 
    no-repeat;
    transition:0.4s;
    color: var(--orange)
}

.smalllink a:hover {
    --d: 100%;
}

.outside_root #otp_container #otp_input {
    font-size: var(--topic);
    font-weight: 800;
    text-align: center;
}

