@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url("https://use.typekit.net/qfq4azv.css");
@import url('https://fonts.cdnfonts.com/css/satoshi');

.problems .description {
    font-size: var(--text);
    font-weight: 400;
    color: var(--gray);
    padding: 1vh 0px;
}

.problems .content {
    color: var(--grayest);
    font-size: var(--text);
    font-weight: 400;
    padding: 1vh 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-left: 3px solid var(--grayest);
}

.impt_note {
    width: 100%;
    margin: 2vh 0px;
}

.impt_note .impt_note_title {
    background-color: var(--red);
    color: var(--lightgray);
    font-size: var(--topic);
    font-weight: 900;
    padding: 1vh 2vw 2vh 2vw;
}

.hint, .simulation {
    width: 100%;
    margin: 2vh 0px;
}

.hint .hint_title{
    background-color: var(--orange);
    padding: 1vh 2vw 1vh 2vw;
}

.hint_title a, .hint_title i{
    color: var(--grayest);
    text-align: middle;
    font-size: var(--subtopic);
    font-weight: 900;
}

.simulation .simulation_title h2 {
    color: var(--orange);
}

i {
    margin-left: 2vw;
}

.problems a {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 4px 
    no-repeat;
    transition:0.4s;
}

.problems a:hover {
    --d: 100%;
}

.forum_title {
    font-size: var(--subtopic);
    font-weight: 700;
    color: var(--orange);
    padding: 1vh 0px;
    border-bottom: 4px solid var(--orange);
}